<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "twitter/bootstrap/bootstrap-alert" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container"><%= yield %></div>
</body>
</html>
